/* Rofi Theme: Aesthetic inspired by Alacritty */

configuration {
	modi:                       "drun,run";
    show-icons:                 false;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
}

@theme "formato"
