@define-color background #1a1b26;
@define-color foreground #c0caf5;
@define-color mauve      #bb9af7;
@define-color red        #f7768e;
@define-color lavender   #7dcfff;
@define-color text       #c0caf5;
@define-color blue       #7aa2f7;

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;
    font-family: 'JetBrainsMonoNLNerdFontMono-Regular ', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}
window {
    width: 8000px;
    height: 1000px;
    all:unset;
    padding: 20px;
    border-radius: 0px;
    background-color: rgba(26,27,38,0.6);
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borde sutil */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra leve */
    border-radius:10;
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
    border-radius:10;
    background-color: rgba(26, 27, 38, 0.2);
}
#input image {
    border: none;
    color: @mauve;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @lavender;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, 0.2);
    border: none;
    border-radius: 20px;
    background-color:transparent;
}
#entry:selected #text {
    color: @blue;
}
#entry:drop(active) {
    background-color: @lavender !important;
}
